<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/updatePersonPage.css" rel="stylesheet" th:href="@{/css/updatePersonPage.css}"
          type="text/css">
</head>
<th:block th:include="pageBase"></th:block>
<body>


<div class="left" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
     sec:authorize="hasRole('ROLE_ADMIN')">
    <h1>Person form</h1>
    <form action="#" th:action="@{/people/update/{id}(id=${personToUpdate.id})}" th:object="${personToUpdate}"
          method="post">
        <input type="hidden" th:field="*{id}">
        <label>(New) First name:</label><br>
        <input type="text" th:field="*{firstName}"><br>
        <label>(New) Last name:</label><br>
        <input type="text" th:field="*{lastName}"><br>
        <label>(New) Phone number prefix:</label><br>
        <input type="text" th:field="*{phone.prefix}"><br>
        <label>(New) Phone number:</label><br>
        <input type="text" th:field="*{phone.number}"><br>

        <input id="submit" type="submit" value="Update">
    </form>
    <div id="back">
        <a th:href="@{/people}">Back</a>
    </div>
</div>

</body>
</html>